{% extends "base.html" %}

{% block content %}
  <div class="row">

    <div class="col-md-6 col-md-offset-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('ultimos5')}}">Home</a></li>
          <li class="breadcrumb-item"><a href="{{ url_for('clients')}}">Clientes</a></li>
          <li class="breadcrumb-item active" aria-current="page">Editar Cliente</li>
        </ol>
      </nav>
      <h2>Editar Cliente {{ cliente.nombre }}</h2>
      <form method="post">
        <input value = "{{cliente.nombre}}" type="text" class="form-control" name="nombre" placeholder="Nombre completo o Razón Social">
        <br>
        <input value = "{{cliente.telefono}}" type="text" class="form-control" name="telefono" placeholder="Número de Teléfono">
        <br>
        <input value = "{{cliente.tipo_contacto}}"  type="text" class="form-control" name="tipo_contacto" placeholder="Forma en que nos encontró">
        <br>
        <input value = "{{cliente.direccion}}" type="text" class="form-control" name="direccion" placeholder="Dirección">
        <br>
        <input value = "{{cliente.email}}"  type="text" class="form-control" name="email" placeholder="Email">
        <br>
        <input value = "{{cliente.tipo_contrato}}" type="text" class="form-control" name="tipo_contrato" placeholder="Cliente abonado o particular">
        <br>


        <button type="submit">Guardar</button>
      </form>
    </div>
  </div>
{% endblock %}